body{
  background-color: rgb(210, 223, 239);

}
p{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Helvetica;
}
.whole-thing{
  background-color: white;
  width: 230px;
  height: 390px;
  border-radius: 15px;
  margin-left: 650px;
  margin-top: 200px;
}
.qr-code-part{
  text-align: center;
}
.qr{
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}
.main-text{
  font-size: 15px;
  font-weight: bolder;
  line-height: 20px;
  margin-top: 20px;
}
.text-part{
  width: 220px;
}
.more-text{
  font-size: 12px;
  color: grey;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
